
audio/OpenUnmix/.github/ISSUE_TEMPLATE/bug-report.md
audio/OpenUnmix/.github/ISSUE_TEMPLATE/improved-model.md
audio/OpenUnmix/.github/PULL_REQUEST_TEMPLATE.md
audio/OpenUnmix/.idea/deployment.xml
audio/OpenUnmix/.idea/inspectionProfiles/profiles_settings.xml
audio/OpenUnmix/.idea/misc.xml
audio/OpenUnmix/.idea/modules.xml
audio/OpenUnmix/.idea/OpenUnmix.iml
audio/OpenUnmix/__pycache__/a_model_tcn.cpython-35.pyc
audio/OpenUnmix/__pycache__/a_models.cpython-35.pyc
audio/OpenUnmix/__pycache__/data.cpython-35.pyc
audio/OpenUnmix/__pycache__/data.cpython-36.pyc
audio/OpenUnmix/__pycache__/freesound_dataset.cpython-36.pyc
audio/OpenUnmix/__pycache__/freesound_dataset_speech.cpython-36.pyc
audio/OpenUnmix/__pycache__/freesound_dataset_speech_sbvae.cpython-35.pyc
audio/OpenUnmix/__pycache__/freesound_dataset_speech_sbvae.cpython-36.pyc
audio/OpenUnmix/__pycache__/model.cpython-36.pyc
audio/OpenUnmix/__pycache__/model2.cpython-36.pyc
audio/OpenUnmix/__pycache__/model_free.cpython-36.pyc
audio/OpenUnmix/__pycache__/model_freesound.cpython-36.pyc
audio/OpenUnmix/__pycache__/model_freesound2.cpython-36.pyc
audio/OpenUnmix/__pycache__/model_freesound_speech.cpython-36.pyc
audio/OpenUnmix/__pycache__/model_freesound_speech_sbvae.cpython-35.pyc
audio/OpenUnmix/__pycache__/model_freesound_speech_sbvae.cpython-36.pyc
audio/OpenUnmix/__pycache__/model_gao.cpython-36.pyc
audio/OpenUnmix/__pycache__/model_gao22.cpython-36.pyc
audio/OpenUnmix/__pycache__/model_gao33.cpython-36.pyc
audio/OpenUnmix/__pycache__/model_gao44.cpython-36.pyc
audio/OpenUnmix/__pycache__/model_gao55.cpython-36.pyc
audio/OpenUnmix/__pycache__/model_gao66.cpython-36.pyc
audio/OpenUnmix/__pycache__/model_gao_modify.cpython-36.pyc
audio/OpenUnmix/__pycache__/model_gao_s2s.cpython-36.pyc
audio/OpenUnmix/__pycache__/model_gao_s2s.cpython-37.pyc
audio/OpenUnmix/__pycache__/model_tcn.cpython-36.pyc
audio/OpenUnmix/__pycache__/model_tcn_end2end.cpython-36.pyc
audio/OpenUnmix/__pycache__/model_tcn_modify.cpython-36.pyc
audio/OpenUnmix/__pycache__/model_tcn_modify_2.cpython-36.pyc
audio/OpenUnmix/__pycache__/models.cpython-36.pyc
audio/OpenUnmix/__pycache__/test.cpython-36.pyc
audio/OpenUnmix/__pycache__/test_end2end.cpython-36.pyc
audio/OpenUnmix/__pycache__/test_freesound.cpython-36.pyc
audio/OpenUnmix/__pycache__/test_freesound_speech.cpython-36.pyc
audio/OpenUnmix/__pycache__/test_freesound_speech_sbvae.cpython-36.pyc
audio/OpenUnmix/__pycache__/test_gao33.cpython-36.pyc
audio/OpenUnmix/__pycache__/test_gao3333.cpython-36.pyc
audio/OpenUnmix/__pycache__/test_gao_s2s.cpython-36.pyc
audio/OpenUnmix/__pycache__/utils.cpython-35.pyc
audio/OpenUnmix/__pycache__/utils.cpython-36.pyc
audio/OpenUnmix/__pycache__/utils.cpython-37.pyc
audio/OpenUnmix/data.py
audio/OpenUnmix/demo_gao_s2s/bass.wav
audio/OpenUnmix/demo_gao_s2s/demo_gao_s2s.sh
audio/OpenUnmix/demo_gao_s2s/drums.wav
audio/OpenUnmix/demo_gao_s2s/mixture.wav
audio/OpenUnmix/demo_gao_s2s/music.txt
audio/OpenUnmix/demo_gao_s2s/other.wav
audio/OpenUnmix/demo_gao_s2s/superior_music.txt
audio/OpenUnmix/demo_gao_s2s/vocals.wav
audio/OpenUnmix/eval_gao_s2s.py
audio/OpenUnmix/hubconf.py
audio/OpenUnmix/LICENSE
audio/OpenUnmix/model_gao_s2s.py
audio/OpenUnmix/open-unmix_gao_s2s/.pandas
audio/OpenUnmix/open-unmix_gao_s2s/bass.chkpnt
audio/OpenUnmix/open-unmix_gao_s2s/bass.json
audio/OpenUnmix/open-unmix_gao_s2s/bass.pth
audio/OpenUnmix/open-unmix_gao_s2s/drums.chkpnt
audio/OpenUnmix/open-unmix_gao_s2s/drums.json
audio/OpenUnmix/open-unmix_gao_s2s/drums.pth
audio/OpenUnmix/open-unmix_gao_s2s/other.chkpnt
audio/OpenUnmix/open-unmix_gao_s2s/other.json
audio/OpenUnmix/open-unmix_gao_s2s/other.pth
audio/OpenUnmix/open-unmix_gao_s2s/vocals.chkpnt
audio/OpenUnmix/open-unmix_gao_s2s/vocals.json
audio/OpenUnmix/open-unmix_gao_s2s/vocals.pth
audio/OpenUnmix/scripts/hello.sh
audio/OpenUnmix/test_gao_s2s.py
audio/OpenUnmix/train_gao_s2s.py
audio/OpenUnmix/utils.py
